@charset "utf-8";

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/**********************************
    開発中
**********************************/
body {
    background-color: #FCFCFC;
}
h1 {
    font-family: 'Damion', cursive;
    margin:0px;
    padding:0px;
}
h1 a:hover {
    text-decoration: none;
}
p {
    margin:0;
}
h2 {
    font-size: 16px;
    background: #EC6D5B;
    padding: 4px 5px;
    margin:0px 0 10px 0;
    border-radius: 3px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
h2 .todays-time {
    float:right;
}
.content {
    font-size: 12px;
    color: #868686;
    font-style: italic;
    padding-left: 10px;
}
.content span {
    padding: 0px 3px;
}
.label {
    margin:0px 3px;
}
.label-short {
    background: #6DE97C;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.label-middle {
    background: #6DADE9;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.done {
    color: #999;
    text-decoration: line-through;
    background-color: #ececec;
}

/*************************************
    error
*************************************/
input.error {
    background-color: #FFF2F2;
    border-color: #FFA0A0;
}
.error-message {
    color: #FF4A4A;
}

/*************************************
    task_list @top
*************************************/
form.task-list {
    margin:10px 0px;
}
a .glyphicon-remove-circle {
    color:#ccc;
}
a:hover .glyphicon-remove-circle {
    color:#6d6d6d;
}
.task-list .task {
    position:relative;
    cursor: pointer;
}
.task-list .task:hover {
    background-color: #FFFCFC;
}
.task-time {
    position: absolute;
    top: 10px;
    right: 60px;
}
.task-list .delete-task {
    position: absolute;
    top:10px;
    right:10px;
}
.task-list .placeholder {
    margin:4px 0px 4px 0px ;
    height:42px;
    border: 1px dashed #ececec;
    /*background-color:#FFE5E5;*/
    background-color:#F7F7F7;
    list-style: none;
}
.task-list .task-comment-none a{
    color:#ccc;
}
.task-list .task-comment-none a:hover {
    color:#6d6d6d;
}
.task-list .over-deadline {
    color:#FF7C7C;
    position: absolute;
    top: 12px;
    right: 30px;
}
.task-list .sort-task {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: #ccc;
}
.task-list .futures .check-task {
    cursor: default;
}
/*************************************
    comment @top
*************************************/
#comment-editor {
    position:relative;
}
#comment-editor .comment-cancel,
#comment-popup .comment-cancel {
    position:absolute;
    top:-17px;
    right:0px;
    cursor: pointer;
}
#comment-editor .comment-cancel a,
#comment-popup .comment-cancel a {
    color:#FF1F1F;
}
#comment-editor textarea,
#comment-popup .task-comment{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding:5px 10px;
    padding-bottom:20px;
    background-color:#fff;
}
#comment-popup .task-comment {
    /*font-style: italic;*/
}

.comment-popup {
    display:none;
    position:absolute;
    z-index:100;
    top : 3px;
    left : 150px;
}
#comment-popup .action-area {
    text-align: right;
}
#comment-popup .action-area .comment-edit-btn {
    margin-top: 3px;
    background-color: #FF5656;
    border-radius: 3px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    float: right;
}

#comment-editor .action-area .comment-submit-btn {
    margin-top: 3px;
    background-color: #2AA8CF;
    border-radius: 3px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    float: right;
    cursor: pointer;
}

/*************************************
    task_add @top
*************************************/
.insert-task {
    margin:0 0 10px 0;
}
ul#task_add {
    list-style: none;
    padding-left: 0px;
}
#task_add li {
    box-shadow : none;
    position : relative;
}
#task_add li input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
}
#task_add .input-task {
    margin: 0 0 3px 0;
    float:left;
}
#task_add .input-date {
    width:150px;
    border:none;
    border: 1px solid #ccc;
    height: 28px;
    margin: 4px 5px;
    padding: 0px 5px;
}

#task_add .input-category {
    width: 150px;
    height: 30px;
    margin: 4px 0px;
    float:left;
}
#task_add .input-category-list {
    position:absolute;
    top:40px;
    left:0px;
    z-index:1;
}
#task_add .input-category-list li {
    padding: 2px 10px;
    cursor: pointer;
    color:#7a7a7a;
    min-width: 150px;
}
#task_add .input-category-list li:hover {
    background-color: #8DB7F0;
    color: #fff;
}

tr.newday {
    border-top: solid 2px;
}

tr.sunday {
    background-color: #ffeaea;
}