@charset "utf-8";

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/**********************************
    開発中
**********************************/
h1 {
    font-family: 'Damion', cursive;
}
h1 a:hover {
    text-decoration: none;
}
p {
    margin:0;
}
h2 {
    font-size: 16px;
    background: #FFC48E;
    padding: 4px 5px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.content {
    font-size: 12px;
    color: #868686;
    font-style: italic;
    padding-left: 10px;
}
.content span {
    padding: 0px 3px;
}
.label {
    margin:0px 3px;
}
.label-short {
    background: #6DE97C;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.label-middle {
    background: #6DADE9;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.done {
    color: #999;
    text-decoration: line-through;
    background-color: #ececec;
}

/*************************************
    error
*************************************/
input.error {
    background-color: #FFF2F2;
    border-color: #FFA0A0;
}
.error-message {
    color: #FF4A4A;
}

/*************************************
    task_list @top
*************************************/
form.task-list {
    margin:10px 0px;
}
a .glyphicon-remove-circle {
    color:#ccc;
}
a:hover .glyphicon-remove-circle {
    color:#6d6d6d;
}
.task-list .task {
    position:relative;
}
.task-list .placeholder {
    margin:4px 0px 4px 0px ;
    height:42px;
    border: 1px dashed #FF9090;
    background-color:#FFE5E5;
    list-style: none;
}
.task-list .task-comment-none a{
    color:#ccc;
}
.task-list .task-comment-none a:hover {
    color:#6d6d6d;
}
.task-list .over-deadline {
    color:#FF7C7C;
}
.task-list .sort-task {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: #ccc;
}
/*************************************
    comment @top
*************************************/
#comment-editor {
    position:relative;
}
#comment-editor .comment-cancel,
#comment-popup .comment-cancel {
    position:absolute;
    top:-17px;
    right:0px;
    cursor: pointer;
}
#comment-editor .comment-cancel a,
#comment-popup .comment-cancel a {
    color:#FF1F1F;
}
#comment-editor textarea,
#comment-popup .task-comment{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding:5px 10px;
    padding-bottom:20px;
    background-color:#fff;
}
#comment-popup .task-comment {
    font-style: italic;
}

.comment-popup {
    display:none;
    position:absolute;
    z-index:100;
    top : 3px;
    left : 150px;
}
#comment-popup .action-area {
    text-align: right;
}
#comment-popup .action-area .comment-edit-btn {
    margin-top: 3px;
    background-color: #FF5656;
    border-radius: 3px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    float: right;
}

#comment-editor .action-area .comment-submit-btn {
    margin-top: 3px;
    background-color: #2AA8CF;
    border-radius: 3px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    float: right;
    cursor: pointer;
}

/*************************************
    task_add @top
*************************************/
ul#task_add {
    list-style: none;
    padding-left: 0px;
}
#task_add li {
    box-shadow: none;
}
#task_add li input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
}

#task_add .input-task {
    width:520px;
    float:left;
}
#task_add .input-date {
    width:150px;
    border:none;
    border: 1px solid #ccc;
    height: 28px;
    margin: 4px 5px;
    padding: 0px 5px;
}

#task_add .input-category {
    width: 150px;
    height: 29px;
    margin: 4px 0px;
    float:left;
}


tr.newday {
    border-top: solid 3px;
}

tr.sunday {
    background-color: #ffeaea;
}